html, body, #app, app {
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#header-content {
  position: relative;
  width: 100%;
  top: 45%;
  text-align: center;
}

#header-content p {
  padding-bottom: 1%;
}

.page-header {
  border-bottom: none;
}