/*General body styling. Those are the main colors.*/
body {
  color: rgba(241, 183, 136, 1);
  background-color: rgba(69, 74, 91, 1);
}

/*Navbar style. Generally adapting to the body style.*/
.navbar {
  background-color: rgba(69, 74, 91, 0.8);
  border-bottom-color: rgba(69, 74, 91, 1);
}

.navbar a {
  color: rgba(241, 183, 136, 1) !important;
}

.navbar-scrolled {
  background-color: rgba(69, 74, 91, 1);
}

/*The header is a 80/20% gradient from top to bottom. Last 20% stack from 0.5 to 1 alpha value.*/
header {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(69, 74, 91, 0.1)), color-stop(0.8, rgba(69, 74, 91, 0.5)), color-stop(1, rgba(69, 74, 91, 1))), url('../images/header.jpg');
  background-image: -webkit-repeating-linear-gradient(top, rgba(69, 74, 91, 0.1) 0%, rgba(69, 74, 91, 0.5) 80%, rgba(69, 74, 91, 1) 100%), url('../images/header.jpg');
  background-image: -ms-repeating-linear-gradient(top, rgba(69, 74, 91, 0.1) 0%, rgba(69, 74, 91, 0.5) 80%, rgba(69, 74, 91, 1) 100%), url('../images/header.jpg');
  background-image: repeating-linear-gradient(to bottom, rgba(69, 74, 91, 0.1) 0%, rgba(69, 74, 91, 0.5) 80%, rgba(69, 74, 91, 1) 100%), url('../images/header.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Adapt buttons to styling.*/
.btn-default {
  font-weight: bold;
  color: rgba(90, 129, 168, 1);
  background-color: rgba(241, 183, 136, 1);
  border-color: rgba(198, 208, 219, 1);
}

/*<hr/> divider.*/
hr {
  border-color: rgba(241, 183, 136, 1);
  border-width: 3px;
}

/*Remove link style.*/
a {
  color: rgba(241, 183, 136, 1);
}

a:hover {
  color: rgba(241, 183, 136, 0.7);
}

/*Each second section is annotated as "light" section. Those sections have a different styling.*/
.section-light, .aside-light {
  color: rgba(90, 129, 168, 1);
  background-color: rgba(198, 208, 219, 1);
}

/*"light" buttons.*/
.section-light .btn-default, .aside-light .btn-default {
  color: rgba(241, 183, 136, 1);
  background-color: rgba(90, 129, 168, 1);
  border-color: rgba(69, 74, 91, 1);
}

/*"light" <hr/> divider.*/
.section-light hr {
  border-color: rgba(90, 129, 168, 1);
  border-width: 3px;
}

/*"light" link style.*/
.section-light a {
  color: rgba(90, 129, 168, 1);
}

.section-light a:hover {
  color: rgba(90, 129, 168, 0.7);
}